.bg-img1 {
    background-color: #000;
    background-size: cover;
    background-image: url(https://www.w3schools.com/bootstrap/la.jpg);
    height: 600px;
}

.bg-img2 {
    background-color: #000;
    background-size: cover;
    background-image: url(https://www.w3schools.com/bootstrap/ny.jpg);
    height: 600px;
}

.bg-img {
    background-color: #000;
    background-size: cover;
    background-image: url(https://www.w3schools.com/bootstrap/chicago.jpg);
    height: 600px;
}